body {
    background-image: url("./landingpagebackground.png");
    
  }
  .smallfont{
    font-size: small
  }
  .yellowtrans{
    background-color: rgba(244, 175, 84, 0.68);
  }
  .yellowgold{
    color: rgb(244, 175, 84);
  }
  .yellowgoldbutton{
    background-color: rgb(244, 175, 84);
    color: white;
  }
  .yellowgoldbutton:hover{
    background-color: rgb(174, 120, 49);
    color: white;
  }
  .yellowgoldbuttonoutline{
    background-color: transparent;
    color: rgb(244, 175, 84);
    border: 1px solid rgb(244, 175, 84);
  }
  .yellowgoldbuttonoutline:hover{
    background-color: rgb(244, 175, 84);
    color: white;
  }
  .row-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    .island {
    font-family: 'Island Moments', cursive;
    font-size: xx-large;
    word-wrap: break-word;
    color: white;
    margin: 0 10px; /* Adjust margin as needed */
    }

    .line {
    flex: 1;
    border-top: 0.5px solid white;
    }
    .b2y{
      background-color: rgb(244, 175, 84);
      color: white;
    }
    .b2y:hover{
      color: white;
    }